.hero {
    width: 100%;
    height: auto;
    margin-bottom: 2.3rem;
    padding-left: 1.24rem;
    padding-right: 1.24rem;
    border-radius: 18px;
    font-family: Arial, Helvetica, sans-serif;

    @include breakpoint-up(medium) {
        padding: 0rem 1.5rem; 
        height: auto;
        
        overflow: hidden;
        
        padding: 0rem 1.5rem; 
       
        

    }
    &__background {
        background-color: #282828;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
        border-radius: 0.3125rem;
        
    }
    &__title {

        display: flex; 
        
        .bullet {
            flex: 1;
            
            margin-left: 0.8rem;
            margin-top: 0.5rem;
                
        
            &__one{
    
                width: 4px;
                height: 18px;
                background: #fab90a;
                border-radius: 35%;
                @include breakpoint-up(large) {
                    width: 8px;
                    height: 33px;
                    margin-top: 0.4rem;
                }
            }
        
        }

        h3 {
            flex: 20;
            margin-top: 0.5rem;
            font-size: 1rem;
            color: white;
            align-self: start;
            justify-content: start;
            @include breakpoint-up(large) {
                font-size: 2.2rem;
            }

        }



    }
    &__info {
        display: flex; 
        align-items: center;
        justify-content: center;
        margin-left: 2rem; 
        margin-right: 2rem;
        margin-bottom: 1rem;
        .f1, .f2 {
            width: 100%;
            padding: 8px;
            margin-left: 1rem;
            border: 0px;
            outline: none;
            border-bottom: 1px solid #fab90a;
            border-radius: 4px;
            box-sizing: border-box;
            background-color:#282828;
            color: white;
            @include breakpoint-down(small) {
                padding: 8px;
                
            }
        }
        .f1 {
            margin-right: 0.5rem;
        }
        .circle {
            flex: 1;
            
            margin-top: 3px;
            
        
            &__one{
    
                width: 5px;
                height: 5px;
                background: #fab90a;
                border-radius: 60%;
            }
        
        }
        input[type=text] {
            background-color: #282828;
            outline: none;
            border : 0px;
            border-bottom: 1px solid #fab90a;
            flex: 22;
            color: white;
            font-size: 0.8rem;
            padding-bottom: 0.4rem;
            margin-top: 0.4rem;
          

        }
        input[type=text]:focus {
            border-color: #fab90a;
        }
        p {
            flex: 22;
            font-size: 0.8rem;
            font-family: Arial, Helvetica, sans-serif;
            
            color: white;
            @include breakpoint-up(large) {
                font-size: 1rem;
            }

        }
       
    }
    
}