.choices {
    background-color: $veryLightGray;
    padding-right: 50px;

    padding-left: 50px;
}

.choice {
    &__content {

    }
    &__top {
        display: flex;
        justify-content: center;
        @include breakpoint-down(medium) {
            margin-top: 3rem;
        }
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4rem;
        margin-top: -3rem;
        

        
    }

    &__grid {
        display: grid;
        gap: 2.3rem;
        //grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-columns: 1fr;

        @include breakpoint-up(medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-up(large) {
             grid-template-columns: repeat(4, 1fr);
        }

    }

    &__item {
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
        border-radius: 0.3125rem;
        overflow: hidden;
        transition: all 150ms ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
       
    }
    &__image {
        height: 12rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__text {
        text-align: center;
        padding: 1.875rem 1.875rem 2.5rem 1.875rem;
        @include breakpoint-up(medium) {
            padding: 1.875rem 1.5625rem 
        }

    }
    &__title {
        color: $darkBlue;
        font-size: 1.0625rem;
        line-height: 1.2;
        margin-bottom: 1rem;

    }
    &__description {
        color: $grayishBlue;
        font-size: 0.81rem;

    }
   
}