.hero {
    @include breakpoint-up(large) {
        display: flex;
        align-items: center;

    }
    padding-bottom: 3rem;
    &__image {
        background-image:url('../../images/qr2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 20.5rem; //280px
        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            height: 30rem;
            margin-bottom: 2.2rem;
        }
    }
    

    &__text {
        text-align: center;
        
        h1 {
            font-weight: 300;
            font-size: 2rem;
            line-height: 1.15;
            color: $darkBlue;
            margin-bottom: 1.5rem;
            margin-top:10px;
            @include breakpoint-up(large) {
                font-size: 2.9rem;
            }
        }

        p {
            line-height: 1.5;
            margin-bottom: 2.2rem;
        }
        @include breakpoint-up(large) {
            flex: 2;
            order: 2;
            text-align: left;  
            padding: 70px;
            

        }
        

    }
   


    &__image2 {
        background-image:url('../../images/ch4.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 20.5rem; //280px
        margin-bottom: 30px;
        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            height: 30rem;
            margin-left: 10px;
            margin-bottom: 2.2rem;

        }
    }
    &__text2 {
        text-align: center;
        
        h1 {
            font-weight: 300;
            font-size: 2rem;
            line-height: 1.15;
            color: $darkBlue;
            margin-bottom: 1.5rem;
            margin-top:10px;
            @include breakpoint-up(large) {
                font-size: 2.9rem;
            }
        }

        p {
            line-height: 1.5;
            margin-bottom: 2.2rem;
        }
        @include breakpoint-up(large) {
            flex: 2;
            order: 2;
            text-align: left;  
            padding: 150px;
            

        }
        

    }
    &__fill {
        margin-top: 1.1rem;
            
        .inp {
            display: flex;
        }

        input[type=text], input[type=password], select, textarea{
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            resize: vertical;
            flex: 4;
            max-height: 3rem;
        }
        a {
           
            margin-left: 1rem;
            img { 
                flex: 2;
                margin-top: 2rem;
                width: 30px; 
                height: 30px; 
            }
            margin-top: -25px;
        }
          
          /* Style the label to display next to the inputs */
        label {
            padding:  0;
            padding-left: 2px;
            font-size: 1rem;
            display: block;
            text-align: left;
        }

        input[type=text]:focus, input[type=password]:focus {
            border: 1px solid $darkBlue;
        }
        .feedback {
            color: #9ab;
            font-size: 90%;
            padding: 0 .25em;
            font-family: Courgette, cursive;
            margin-top: 1em;
        }

    }

}