html {
    font-size: 100%;
    box-sizing: border-box;
}


*, *::before, *::after {
    box-sizing: inherit;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-med;
    color: $grayishBlue;
    line-height: 1.3;
    &.noscroll {
      overflow: hidden;
    }
    
}

h1, h2, h3 {
    margin-top: 0;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.875rem;
    color: $darkBlue;
    
    @include breakpoint-up(large) {
        font-size: 2.8rem;
    }
}
a, a:visited, a:hover {
    text-decoration: none;

}

// Flexbox 
.container {
   
    &--nav {
        max-width: 83.375rem;
        margin: 0 auto;

    }
    &--sec {
        max-width: 130rem;
        margin: 0 auto;
    }
    &--pall {
        padding-top: 4.375rem;
        padding-right: 1.5rem;
        padding-bottom: 4.375rem;
        padding-left: 1.5rem;
    
        @include breakpoint-up(large){
          padding-top: 6rem;
          padding-bottom: 6rem;
        }
      }
      &--py {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
        
        @include breakpoint-up(large){
          padding-top: 6rem;
          padding-bottom: 6rem;
        }
      }
      &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }
      &--pt {
        padding-top: 4.375rem;
        
        @include breakpoint-up(large){
          padding-top: 6rem;
        }
      }
      &--pr {
        padding-right: 1.5rem;
      }
      &--pb {
        padding-bottom: 4.375rem;
        
        @include breakpoint-up(large){
          padding-bottom: 6rem;
        }
      }
      &--pl {
        padding-left: 1.5rem;
      }
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

}


button, .button {
    display: inline-block;
    padding: 0.875rem 2.2rem;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    font-family: inherit;
    font-size: $font-med;
    color: #000000;
    font-weight: 400;
    background: #fab90a;
    transition: opacity 300ms ease-in-out;
    
    &:hover {
        opacity: 0.75;
    }
    //background: #247d9c;
    //background: linear-gradient(to right, #71DB3B, );
}



// visibility 
.hide-for-mobile {
    // hide for tablet and mobile
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    // hide for desktop viewport width
    @include breakpoint-up(large) {
        display:none;
    }

}
